/*---------------------------------- Font Import ----------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');


* {
    margin: 0;
    padding: 0;
}


.nav1 {
    width: 50px;
    height: 500px;
    border-radius: 0px 0px 0px 0px;
    position: fixed;
    top: 150px;
    left: -50px;
    display: block;
    background: rgb(0, 255, 179);
    z-index: 999;
    transition: 0.3s;
    
}

.nav1 ul {
    display: block;
    margin-left: 10px;
    margin-top: 10px;
    list-style: none;
    transition: 0.3s;
}

.nav1 ul li {
    display: block;
    margin-top: 40px;
    transition: 0.3s;

}

.nav1 ul li a {
    color: #000;
    font-size: 25px;
    transition: 0.3s;

}

.open {
    font-size: 25px;
    background: rgb(0, 255, 179);
    color: #000;
    outline: none;
    border: none;
    border-left: solid 2px #000;
    border-radius: 0px 20px 20px 0px;
    width:40px;
    height: 60px;
    cursor: pointer;
    position: fixed;
    top: 150px;
    left: 0px;
}

.close {
    font-size: 25px;
    background: rgb(0, 255, 179);
    color: #000;
    outline: none;
    border: none;
    border-left: solid 2px #000;
    border-radius: 0px 20px 20px 0px;
    width:40px;
    height: 60px;
    cursor: pointer;
    position: fixed;
    top: 590px;
    left: 50px;
    display: none;
}


#search {
    float: right;
    position: relative;
    top: 20px;
    right: 50px;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: solid 2px #000;
    text-indent: 10px;
    font-family: 'Fredoka One', cursive;
    outline: none;
    font-size: 15px;
}

